{% extends 'templates/template.njk' %}

{% block head %}
    <title>Review</title>
{% endblock %}

{% block styles %}
    <link href='/styles/review.css' rel='stylesheet' />
{% endblock %}

{% block content %}
    <div class='content'>
        <form method='POST'>
            <h1>Add Review</h1>    
            <textarea id='textarea' type='text-area' name='text' required></textarea>
            <input type='submit' value='Add Review' />
        </form>
    </div>
{% endblock %}